<!--The content below is only a placeholder and can be replaced.-->
<div ngClass="toDoContainer">
  <h1>
    {{ title }}
  </h1>
  <p>A place to store the things you have to do!</p>
  <input type="text" placeholder="Filter your to-dos" class="filterToDo" [(ngModel)] = "filterToDo" (input) = "filterList()">
  <p 
    [ngClass]="{
    'completedTask': chore.completed === true, 
    'todoList': chore.completed === false}" 
    *ngFor="let chore of filteredToDo; index as i" >
    {{i + 1}}.
    <button type="button" class="completeBtn" *ngIf="!chore.completed" (click)="completeToDo(i)">Complete</button>
    {{chore.task}} 
    <button type="button" ngClass="removeBtn" (click) = removeToDo(i)>X</button>
  </p>
  <input type ="text" placeholder="Add your to do" ngClass="addToDo" [(ngModel)]="newItem">
  <!-- {{newChore}} -->
  <button type="button" ngClass="addBtn" (click)= addToDo()>Add</button>
</div>

